%h1 
  .container About

#body.container
  #about
    .row
      .span4
        #about-me
          .row
            .span4
              
      .span4
        %h2 New Product Launch
        .box
          %h3
            %a{ href: "http://getoutreach.co/", title: "Outreach: Church websites made easy." } Outreach
          %p A multi-tenant application for (easily) making and maintaining church websites.
        %h2 About this site
        .box
          %h3 Technologies and gems utilized
          %ul
            %li Ruby on Rails
            %li MongoDB
            %li Mongoid
            %li HAML
            %li SASS
            %li jQuery
            %li Decent Exposure
            %li Octokit
            %li Hashie
            %li Heroku
            %li GitHub
            %li GitHub API (for the list of GitHub commits)
            %li Bootstrap
            %li Photoshop (for mockups)
        .box
          %h3 Responsive design
          %p I have made this site with a responsive design, catering to multiple screen sizes. Resize your browser window and see how it changes as it gets smaller. If you're reading this on your phone go to a computer.
        .box
          %h3 Please explore
          %p You will see that I've demonstrated many of my abilities in this site alone. Also, check out the <a href="https://github.com/sweatypitts/robert-pitts-design" title="Robert Pitts Design GitHub Repo">GitHub repo for this site</a>&mdash;it's public.
        .portrait.box
          %img{ src: "/assets/sweatypitts.jpg" }
      .span4
        #github
          %h2 GitHub commits for robertpittsdesign.com
          .box
            %dl
              - commits.slice(0..9).each do |commit|
                %dt= "<a href=\"https://github.com/sweatypitts/robert-pitts-design/commit/#{commit.sha}\">#{commit.sha.slice(0..6)}</a> @ #{DateTime.parse(commit.commit.author.date).new_offset('-05:00').strftime('%-m/%-d')}".html_safe
                %dd= commit.commit.message
            %p= link_to("See more of the action...", "https://github.com/sweatypitts/robert-pitts-design")
