%h1 
  .container Curriculum Vitæ

#body.container
  - curricula.each do |curriculum|
    .row
      .span10.pull-right
        .curriculum.box
          %h2= "#{curriculum.title} <small>@ #{curriculum.organization}</small>".html_safe
          %p= curriculum.description.html_safe
      .span2.pull-left
        .clearfix
        .vitae
          .to
            %h3 To
            %p= curriculum.to_date.nil? ? "Present" : curriculum.to_date.strftime("%B %Y")
          .from
            %h3 From
            %p= curriculum.from_date.strftime("%B %Y")
