%h1 
  .container Skills

#body.container
  .row
    - skills.each do |skill|
      .span3
        .skill.box
          %h2= skill.name
          %p= truncate(skill.description, length: 135, separator: '...')
          %a{ href: "##{skill.name.parameterize}", data: { toggle: "modal" } } Read more...
        %div{ id: "#{skill.name.parameterize}", class: "modal hide fade", role: "dialog" }
          .modal-header
            %button.close{ data: { dismiss: "modal" } } x
            %h3= skill.name
          .modal-body
            %p= skill.description
